head
  title THIS IS A GAME FOOL
  link(rel='stylesheet', href='/stylesheets/style.css')
  script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")
  script(type="text/javascript", src="/nowjs/now.js")