doctype 5
html(lang="en")
  head
    title= "Cards Against Humanity"
    script(src='/js/jquery-1.7.2.min.js')
    script(src='/js/now.js')
    script(type='text/javascript')  
      $(document).ready(function(){
        var name = prompt("What's your name?", "");  
        now.receive = function(name, message){
          $("#messages").append("<br>"+name+": "+message);
        }
        $("#send-button").click(function(){
          now.distribute($("#text-input").val());
        });
      });
  body
    h1 This is the game page
    #container
      p Game page
    #messages
      p what
    #submitform
      input(type="text")
      input(type="button", id="send-button")